<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= animal.name %></title>
</head>
<body>
    <h1><%= animal.name %></h1>
    <% if (animal.isMammal) { %>
        <img class="mammalPic" src="https://th.bing.com/th/id/R.850d3e4ee6bdba1992f2fd5b348afd70?rik=ANHods98GJ3Tlg&riu=http%3a%2f%2fimage.slidesharecdn.com%2fmammalsbirdsfishandamphibiansfromsae-160121192545%2f95%2fmammals-birds-fish-and-amphibians-scienceandenglishcom-1-638.jpg%3fcb%3d1453404369&ehk=OxX8UC8CtNrx5Md7kpEf2ln0hWWG5ad7VJGkSQ2TtoI%3d&risl=&pid=ImgRaw&r=0">
    <p>This animal is a mammal.</p>
    <p>Mammals are easily identifiable by having hair or fur.</p>
    
    <% } %>
    <% if (animal.isBird) { %>
        <img class="birdPic" src="https://th.bing.com/th/id/R.325134b509bf7642af7ad66bd1070c9f?rik=UonxLs4JvSk%2fyw&riu=http%3a%2f%2f3.bp.blogspot.com%2f-tKoYxvYsCGA%2fUmwYUJJc5JI%2fAAAAAAAAAUg%2frrXrWAmK-gM%2fs1600%2fBird_Diversity_2013.png&ehk=9JJxz3SkimfwD7zqnuj50H6xo6cj948zcm99G5RNcvc%3d&risl=1&pid=ImgRaw&r=0">
    <p>This animal is a bird.</p>
    <p>Birds are identifiable by having feathers.</p>
    <p>Most but not all birds can fly.</p>
    <% } %>
    <% if (animal.isReptile) { %>
        <img class="reptilePic" src="https://www.shutterstock.com/image-photo/reptile-amphibian-front-white-background-260nw-202070893.jpg">
    <p>Reptiles are identifiable by having scales.</p>
    <p>Reptiles are cold-blooded so their body temperature is controlled by their environment</p>
    <% } %>
    <% if (animal.isFish) { %>
        <img class="fishPic" src="https://live.staticflickr.com/65535/46903208504_172795a0ea_b.jpg" alt="Fish Picture">
    <p>Fish are identifiable by having fins and gills.</p>
    <p>Fish use their gills to breathe and get oxygen from water.</p>
    <% } %>
    <% if (animal.isAmphibian) { %>
        <img class="amphiPic" src="https://th.bing.com/th/id/OIP.oLm4D6tmU5PFXFwE_RQ36wHaE8?pid=ImgDet&w=474&h=316&rs=1" alt="Amphibian Picture">
    <p>Amphibians are identifiable by having both gills and lungs.</p>
    <p>This allows them to live both in water and on land.</p>
    <p>The word amphibian comes from the Greek word amphibios, meaning "both kinds of life".</p>
    <% } %>

    <form action="/animals/<%=animal._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= animal.name %></button>
    </form>

    <a href="/animals/<%= animal._id %>/edit">Edit <%= animal.name %></a>
    <a href="/animals/">Back to Animals</a>
    <a href="/">Home Page</a>
</body>
</html>